.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--spacing-md);
  }
}

@media (min-width: 1240px) {
  .container {
    padding: 0 var(--spacing-sm);
  }
}
